html,
body {
  background: $bg;
  margin: 0px;
}

img[src=""] {
	display: none;
}

* {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    color: $blue;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    &:hover {
        text-decoration: none;
    }
}

.wrapper {
    margin: 0 auto;
    min-width: $width_mobile;
    max-width: $width;
    @include media-query($on-laptop) {
        max-width: 660px;
    }
    @include media-query($on-palm) {
        max-width: $width_mobile;
    }
}

.container {
    margin: $unit auto;
    min-height: 880px;
    @include media-query($on-palm) {
        margin: $unit;
    }
}