html.black {
  background: #141d26;
  body {
    background: #141d26;
  }
  .important {
    .wall_img {
      border: 1px solid $b_black;
    }
  }
  .container {
    background: $black;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  div.tags {
    color: $white;
    @include media-query($on-laptop) {
      color: $text;
    }
    @include media-query($on-laptop) {
      border-top: 0px;
      border-bottom: 0px;
    }
  }
  .post-content>p a,
  .post-content>p strong {
    color: #00ab6c;
    font-weight: 400;
  }
  .toggle i {
    background: $black;
  }
  .post-content>p,
  .info_post .post-meta,
  div.tags .categories>* {
    color: $white;
    text-shadow: 1px 1px 1px #000;
  }
  .post-title,
  header a.site-title,
  .post-content .title-photo p {
    text-shadow: 1px 1px 1px #000;
  }
  .wall_img {
    background: $black;
    @include media-query($on-palm) {
      border: 1px solid $b_black;
    }
  }
  .post-list>.post {
    @include media-query($on-palm) {
      box-shadow: none;
      outline: 0px;
      border-top: 1px solid rgba(0, 0, 0, 0.48);
    }
  }
}