html.black {
  background: #141d26;
  body {
    background: #141d26;
  }
  .header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    @include media-query($on-laptop) {
      border-bottom: 0px;
    }
  }
  div.trigger {
    background: $black;
  }
  .container {
    background: $black;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 2px 3px rgba(0,0,0,.2);
  }
  div.categories-list {
    color: $white;
    @include media-query($on-laptop) {
      color: $text;
    }
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    @include media-query($on-palm) {
      border-top: 0px;
      border-bottom: 0px;
    }
  }
  .post-content > p a,
  .post-content > p strong {
    color: #00ab6c;
    font-weight: 400;
  }
  .toggle i {
    background: $black;
  }
  .post-content > p,
  .info_post .post-meta,
  div.categories-list .categories > * {
    color: $white;
    text-shadow: 1px 1px 1px #000;
  }
  .post-title, .post-content .title-photo p {
    text-shadow: 1px 1px 1px #000;
  }
  .wall_img {
    background: $black;
  }
  .post-list > .post {
    @include media-query($on-palm) {
      box-shadow: none;
      outline: 0px;
      border-top: 1px solid rgba(0, 0, 0, 0.48);
    }
  }
  article,
  .post-list {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    @include media-query($on-palm) {
      border: 0px;
    }
  }
  #search-container #search-input {
    background: $black;
    color: $white;
    &::-webkit-input-placeholder {
      color: $white;
    }
    &:-ms-input-placeholder {
      color: $white;
    }
    &::-moz-placeholder {
      color: $white;
    }
  }
}