header {

  .header {
    overflow: hidden;
    border-bottom: 1px solid $b_white;
    position: relative;
  }
  a.site-title {
    &:hover {
      color: $blue;
    }
    font-size: 1.1rem;
    font-weight: bold;
    float: left;
    padding: 12.5px $unit;
    height: 20px;
    line-height: 25px;
  }
}

nav.site-nav {
  div.trigger {
    position: absolute;
    background-color: $white;
    top: -125%;
    font-size: 0.9rem;
    transition: 0.75s all;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid $b_white;
    &.open {
      top: 0px;
    }
  }
  a.menu-icon {
    position: absolute;
    cursor: pointer;
    right: 0;
    padding: 10.5px;
    width: 24px;
    margin: 0px;
    height: 24px;
    z-index: 1;
    svg {
      stroke: $blue;
    }
  }
}

.social {
  float: right;
  margin-right: 45px;
  a {
    float: left;
    height: 45px;
    margin-right: 0px;
  }
  svg {
    width: 45px;
    display: inline-block;
    fill: $blue;
  }
}

.share-page {
  margin-bottom: $unit*2;
}

.disqus {
  background: $white;
  display: table;
  width: 100%;
  border-radius: 2px;
  #disqus_thread > div {
    margin-bottom: $unit*2;
  }
  @include media-query($on-palm) {
    border-radius: 0px;
  }
  &>* {
    margin-left: $unit;
    margin-right: $unit;
  }
}

.twitter-tweet {
  @include media-query($on-palm) {
    margin-left: $unit !important;
    margin-right: $unit !important;
    width: auto !important;
  }
}

div.categories-list {
  width: 189px;
  @include media-query($on-desktop) {
    width: 169px;
  }
  border-top: 1px solid $b_white;
  border-bottom: 1px solid $b_white;
  -webkit-transition: position 0.5s ease-out;
  cursor: pointer;
  float: right;
  @include media-query($on-laptop) {
    border: none;
    width: 100%;
    margin-top: 0px !important;
  }
  &.scroll-fixed {
    transition: 1s margin-top ease-out;
  }
  .categories {
    @include media-query($on-laptop) {
      width: 100%;
    }
    .return {
      display: none;
      margin-left: $unit;
      font-size: .9rem;
      &:hover {
        color: $blue;
      }
      @include media-query($on-laptop) {
        font-size: 1rem;
        width: 100%;
        margin-left: 0px;
        text-align: center;
      }
    }
    &>* {
      line-height: 40px;
      color: $text;
    }
    .page-link {
      padding: 1px $unit;
      &:hover,
      &.select {
        color: $blue;
      }
      font-size: 0.9rem;
      @include media-query($on-laptop) {
        margin-left: 0px;
        padding: 0px;
        width: 25%;
        float: left;
        font-size: 1rem;
        text-align: center;
      }
    }
    span {
      float: right;
      font-size: 0.9rem;
      @include media-query($on-laptop) {
        display: none;
      }
    }
  }
}

.post-list {
  width: 690px;
  margin-top: -1px;
  @include media-query($on-desktop) {
    width: 590px;
  }
  border-right: 1px solid $b_white;
  border-bottom: 1px solid $b_white;
  @include media-query($on-palm) {
    border: 0px;
  }
  display: inline-block;
  height: auto;
  @include media-query($on-laptop) {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  >.post {
    transition: opacity 0.75s ease-out;
    -webkit-transition: opacity 0.75s ease-out;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 315px;
    color: $blue;
    margin: $unit;
    @include media-query($on-desktop) {
      width: 285px;
      margin: 5px;
    }
    float: left;
    .post-meta {
      font-size: 0.9rem;
      color: $text;
      @include media-query($on-laptop) {
        font-size: 1rem;
      }
    }
    @include media-query($on-laptop) {
      width: 300px;
      margin: $unit;
    }
    @include media-query($on-palm) {
      width: 100%;
      padding: $unit;
      margin: 0px;
      box-shadow: none;
      border-radius: 0px;
      border-top: 1px solid $b_black;
    }
  }
}

.info_post {
  @include media-query($on-palm) {
    width: 100%;
    padding: 0px;
    padding-top: $unit;
  }
  width: 90%;
  padding: 0 5%;
  padding-top: $unit;
  .post-meta {
    color: $text;
    padding-top: $unit;
    padding-bottom: $unit;
    float: left;
    width: 100%;
    font-size: 1rem;
  }
}

.post-title {
  font-weight: bold;
  font-size: 1.25rem;
  min-height: 50px;
  text-align: left;
  color: $blue;
  @include media-query($on-palm) {
    font-size: 1.6rem;
  }
  &.page {
    float: left;
    text-align: left;
    color: $blue;
    margin-top: 2em;
    padding: $unit 0px;
    @include media-query($on-laptop) {
      padding: $unit;
    }
    font-size: 2.4rem;
    @include media-query($on-laptop) {
      font-size: 2.25rem;
    }
    @include media-query($on-palm) {
      font-size: 1.5rem;
    }
  }
  &.post {
    font-size: 2.4rem;
    color: $blue;
    @include media-query($on-palm) {
      font-size: 1.6rem;
      width: 100%;
    }
  }
}

.post-content {
  float: left;
  margin: 0px;
  .chart {
    padding: 15px;
    margin: 15px auto;
    max-width: 360px;
  }
  pre {
    position: relative;
    font-weight: 400;
    overflow: hidden;
    width: auto;
    float: none;
    display: block;
    margin-bottom: 4em;
  }
  &>p {
    padding: $unit 0px;
    @include media-query($on-laptop) {
      padding: $unit;
    }
    margin-top: 1em;
    strong,
    a {
      color: $link;
      font-weight: normal;
	  @include media-query($on-laptop) {
      font-size: 1.1rem;
    }
    }
    margin-bottom: 2em;
    color: $text;
    display: block;
    clear: both;
    line-height: 1.5;
    font-weight: normal;
    font-size: 1rem;
    text-align: left;
	@include media-query($on-laptop) {
      font-size: 1.1rem;
    }
  }
  .btn {
    margin-bottom: 6em;
    border-radius: 2px;
    float: left;
    width: auto;
    cursor: pointer;
    text-align: center;
    background: $blue;
    padding: 10px 15px;
    svg {
      color: $white;
      height: 24px;
      margin-right: 10px;
      float: left;
      line-height: 24px;
    }
    .url {
      color: $white;
      float: right;
      height: 24px;
      line-height: 24px;
    }
    font-weight: 600;
  }
  .elem {
    width: 100%;
    margin-bottom: 9em;
    float: left;
    @include media-query($on-palm) {
      width: 100%;
      margin-bottom: 3em;
      margin-left: 0%;
    }
    transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    .wall_overflow {
      position: relative;
      height: 0px;
      padding-bottom: 56.25%;
      margin-bottom: 1em;
      clear: both;
      /* 16:9 */
      &.gif {
        padding-bottom: 0%;
      }
      img {
        width: 100%;
      }
      iframe {
        width: 100%;
        position: absolute;
        bottom: 0px;
        height: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
      }
    }
    .gif {
      width: 100%;
    }
    img {
      float: left;
      width: 100%;
      margin-bottom: 1em;
    }
  }
  .title-photo {
    position: relative;
    p {
      color: $blue;
      padding: 0px 5%;
      padding-bottom: $unit*2;
      margin-bottom: 0;
      text-align: center;
      font-size: 1.2rem;
      float: left;
      font-weight: 600;
      width: 90%;
    }
  }
  width: 100%;
}

.wall_img {
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  background-color: $white;
  @include media-query($on-palm) {
    border: 1px solid $b_white;
  }
  img,
  svg {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
  }
}

#search-container {
  position: relative;
  margin-left: $unit;
  input {
    -webkit-appearance: none;
    &::placeholder {
      color: $blue;
      opacity: 1;
    }
    text-transform: uppercase;
    border: 0px;
    background-color: $white;
    padding: 0px;
    margin: 0px;
    height: 44px;
    line-height: 45px;
  }
}

article {
  width: 660px;
  max-width: 660px;
  .info_post {
    width: 100%;
    padding: 0px;
    padding-top: 15px;
  }
  @include media-query($on-palm) {
    border-right: 0px;
  }
  @include media-query($on-desktop) {
    max-width: 560px;
  }
  border-right: 1px solid $b_white;
  border-bottom: 1px solid $b_white;
  padding: $unit;
  @include media-query($on-laptop) {
    width: 100%;
    max-width: none;
    padding: 0px;
    padding-top: 1px;
    .article>header,
    .social-media-list {
      margin: $unit;
    }
  }
}

.important {
  .wall_img {
    border: 1px solid $b_white;
  }
}