.disqus {
    display: table;
    width: 100%;
    @include media-query($on-laptop) {
        &>* {
            margin-left: $unit;
            margin-right: $unit;
        }
    }
}

.twitter-tweet {
    @include media-query($on-palm) {
        margin-left: $unit !important;
        margin-right: $unit !important;
        width: auto !important;
    }
}

.post-list {
    width: $width_posts;
    display: inline-block;
    height: auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    @include media-query($on-laptop) {
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    >.post {
        transition: opacity 0.75s ease-out;
        -webkit-transition: opacity 0.75s ease-out;
        overflow: hidden;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
        width: $width_post;
        color: $blue;
        margin: $unit;
        float: left;
        .post-meta {
            font-size: 1rem;
            color: $text;
        }
        @include media-query($on-laptop) {
            width: 300px;
        }
        @include media-query($on-palm) {
            width: 100%;
            padding: $unit;
            margin: 0px;
            box-shadow: none;
            border-radius: 0px;
            border-top: 1px solid $b_black;
        }
    }
}

.info_post {
    width: 90%;
    padding: 0 5%;
    padding-top: $unit;
    @include media-query($on-palm) {
        width: 100%;
        padding: 0px;
        padding-top: $unit;
    }
    .post-meta {
        color: $text;
        padding-top: $unit;
        padding-bottom: $unit;
        float: left;
        width: 100%;
        font-size: 1rem;
    }
}

.post-title {
    font-weight: bold;
    font-size: 1.4rem;
    min-height: 50px;
    text-align: left;
    color: $blue;
    @include media-query($on-palm) {
        font-size: 1.6rem;
    }
    &.page {
        float: left;
        text-align: left;
        margin-top: 2em;
        padding: $unit 0px;
        font-size: 2.4rem;
        @include media-query($on-laptop) {
            font-size: 2.25rem;
            padding: $unit;
        }
    }
    &.post {
        font-size: 2.4rem;
        @include media-query($on-palm) {
            font-size: 1.6rem;
            width: 100%;
        }
    }
}

.post-content {
    float: left;
    margin: 0px;
    .chart {
        padding: 15px;
        margin: 15px auto;
        max-width: 360px;
    }
    &>p {
        padding: $unit 0px;
        @include media-query($on-laptop) {
            padding: $unit;
        }
        margin-top: 1em;
        strong,
        a {
            color: $link;
            font-weight: normal;
            @include media-query($on-laptop) {
                font-size: 1.1rem;
            }
        }
        margin-bottom: 2em;
        color: $text;
        display: block;
        clear: both;
        line-height: 1.5;
        font-weight: normal;
        font-size: 1rem;
        text-align: left;
        @include media-query($on-laptop) {
            font-size: 1.1rem;
        }
    }
    .btn {
        margin-bottom: 6em;
        border-radius: 2px;
        float: left;
        width: auto;
        cursor: pointer;
        text-align: center;
        background: $blue;
        padding: 10px 15px;
        color: $white !important;
        font-weight: 600;
    }
    width: 100%;
}

.elem {
    width: 100%;
    margin-bottom: 9em;
    float: left;
    @include media-query($on-palm) {
        margin-bottom: 3em;
    }
    transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    .wall_overflow {
        position: relative;
        height: 0px;
        padding-bottom: 56.25%;
        margin-bottom: 1em;
        clear: both;
    }
    .gif {
        padding-bottom: 0%;
    }
    iframe {
        width: 100%;
        position: absolute;
        bottom: 0px;
        height: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
    }
    img {
        float: left;
        width: 100%;
        margin-bottom: 1em;
    }
}

.title-photo {
    position: relative;
    p {
        color: $blue;
        padding: 0px 5%;
        padding-bottom: $unit*2;
        margin-bottom: 0;
        text-align: center;
        font-size: 1.2rem;
        float: left;
        font-weight: 600;
        width: 90%;
    }
}

.important {
    .wall_img {
        border: 1px solid $b_white;
    }
}

.wall_img {
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    background-color: $white;
    @include media-query($on-palm) {
        border: 1px solid $b_white;
    }
    img {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
    }
}

article {
    width: $width_article;
    max-width: $width_article;
    .info_post {
        width: 100%;
        padding: 0px;
        padding-top: 15px;
    }
    padding: $unit;
    padding-bottom: 0px;
    @include media-query($on-laptop) {
        width: 100%;
        max-width: none;
        padding: 0px;
        padding-top: 1px;
        .article>header,
        .social-media-list {
            margin: $unit;
        }
    }
}