.tags {
    .title {
        a {
            padding: 10px;
            float: left;
            max-width: 75px;
            border-right: 1px solid $b_white;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        border-bottom: 1px solid $b_white;
        float: left;
        width: 100%;
    }
    width: $width_tags;
    margin: $unit;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
    0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: position 0.5s ease-out;
    cursor: pointer;
    float: right;
    @include media-query($on-laptop) {
        width: 100%;
        box-shadow: none;
        margin: 0px;
        margin-top: 0px !important;
    }
    &.fixed {
        transition: 1s margin-top ease-out;
        @include media-query($on-laptop) {
            transition: none;
        }
    }
}

#search {
    -webkit-appearance: none;
    input {
        float: right;
        width: 60px;
        border: none;
        background: none;
        padding: 10px;
        &:focus {
            outline: none;
        }
    }
}

.categories {
    &>* {
        line-height: 40px;
        color: $text;
        &:hover,
        &.select {
            color: $blue !important;
        }
    }
}

.link {
    padding: 1px $unit;
    span {
        float: right;
        @include media-query($on-laptop) {
            display: none;
        }
    }
    @include media-query($on-laptop) {
        margin-left: 0px;
        padding: 0px;
        width: 25%;
        float: left;
        font-size: 1rem;
        text-align: center;
    }
}

.return {
    display: none;
    margin-left: $unit;
    @include media-query($on-laptop) {
        margin-left: 0px;
        text-align: center;
    }
}