/*_base.css */
$bg: #fafafa;
$width_mobile: 360px;
$width: 880px;

/* width article/tags */
$width_article: 640px;
$width_posts: 670px;
$width_tags: 180px;
$width_post: 305px;


$white: #fff;
$blue: #1da1f2;
$b_black: rgba(0, 0, 0, 0.12);
$b_white: #e6ecf0;
$text: #2e3e48;
$unit: 15px;
$on-small: '(max-width: 360px)';
$on-palm: '(max-width: 690px)';
$on-laptop:'(max-width: 992px)';
$on-desktop:'(max-width: 1400px)';
$link: #007ee5;

@mixin media-query($device) {
    @media #{$device} {
        @content;
    }
}