$white: #fff;
$blue: #00ab6c;
$b_black: rgba(0, 0, 0, 0.12);
$b_white: #e0e0e0;
$text: #263238;
$bg: #fafafa;
$unit: 15px;
$on-palm: '(max-width: 690px)';
$on-laptop:'(max-width: 992px)';
$on-desktop:'(max-width: 1400px)';
$black:#1b324a;
$link: #007ee5;


@mixin media-query($device) {
    @media #{$device} {
        @content;
    }
}