@charset "utf-8";
$white: #fff;
$green: #0080bd;
$transparent: #cbcbca;
$text: #444;
$background: #f4f4f2;
$unit: 15px;
$on-palm: '(max-width: 690px)';
$on-laptop:'(max-width: 992px)';
$on-desktop:'(max-width: 1400px)';
// black theme
$black:#1b324a;
$link: #007ee5;

@mixin media-query($device) {
    @media #{$device} {
        @content;
    }
}

@import "base",
"layout",
"prism",
"black",
"toggle";