<header class="site-header">
    <div class="header">
        <div class="test">
        <a class="site-title" href="{{ site.baseurl }}/">BLOG</a>
        </div>
        <input type="checkbox" id="toggle">
        <div class="toggle">
                <label for="toggle">
                    <i></i>
                </label>
        </div>
        <div id="search-input">
            <svg width="24" height="24" viewBox="-3 -4 30 30" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" color="#384047">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
            <input type="text" maxlength="5">
        </div>        
    </div>
</header>