.disqus {
    margin-left: $unit;
    margin-right: $unit;
}

.twitter-tweet {
    @include media-query($on-palm) {
        margin: $unit !important;
        width: auto !important;
    }

    margin: 0 calc(50% - 250px) !important;
    margin-bottom: 9em !important;
    float: left;
}

.info_post {
    padding: 0;
    padding-top: $unit;

    .post-meta {
        color: $text;
        padding-top: $unit;
    }
}

.post-list {
    width: $width_posts;
    background: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: auto auto;

    @include media-query($on-palm) {
        grid-template-columns: auto;
    }

    &.home {
        min-height: 300px;
    }

    @include media-query($on-laptop) {
        width: 100%;
    }

    >.post {
        overflow: hidden;
        width: auto;
        padding: $unit;
        margin-bottom: 0;

        .post-meta {
            color: $text;
        }

        @include media-query($on-palm) {
            width: 100%;
            box-sizing: border-box;
            border-top: 1px solid $b_black;
        }
    }
}

.post-title {
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    color: $blue;
    min-height: 0;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;

    @include media-query($on-palm) {
        font-size: 1.25rem;
    }

    &.page {
        font-size: 1.5rem;
        padding: 0;
        padding-top: 3em;

        @include media-query($on-palm) {
            font-size: 1.25rem;
            padding: $unit;
        }
    }

    &.post {
        font-size: 2.25rem;

        @include media-query($on-palm) {
            font-size: 1.25rem;
            width: 100%;
        }
    }
}

.post-content {
    float: left;
    margin: 0;

    &>p {
        padding: $unit 0;

        @include media-query($on-laptop) {
            padding: $unit;
        }

        margin-top: 1em;

        strong,
        a {
            color: $link;
            font-weight: normal;
        }

        margin-bottom: 2em;
        color: $text;
        display: block;
        clear: both;
        line-height: 24px;
        font-weight: normal;
        text-align: left;
    }

    .btn {
        margin-bottom: 6em;
        border-radius: 2px;
        float: left;
        width: auto;
        cursor: pointer;
        text-align: center;
        background: $blue;
        padding: 10px 15px;
        color: $white !important;
        font-weight: 600;
    }

    width: 100%;
}

.elem {
    width: 100%;
    margin-bottom: 9em;
    float: left;

    @include media-query($on-palm) {
        margin-bottom: 3em;
    }

    .wall_overflow {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        margin-bottom: 1em;
        clear: both;
    }

    .gif {
        padding-bottom: 0%;
    }

    iframe {
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
    }

    &>.disqus iframe {
        position: relative;
    }

    img {
        float: left;
        width: 100%;
        margin-bottom: 1em;
        opacity: 1;
        transition: opacity 0s 1s linear;
        cursor: pointer;

        &.modal {
            opacity: 0;
            transition: none;
        }
    }
}

.title-photo {
    position: relative;
    float: left;
    width: 100%;

    p {
        color: #007ee5;
        padding: 0 5%;
        padding-bottom: $unit * 2;
        margin-bottom: 0;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.5rem;
        width: 90%;
    }
}

.wall_img {
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    background-color: #e3e3e3;
    outline: 1px solid $b_white;

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

.important {
    width: auto;
    float: none;
    margin-bottom: $unit;

    .wall_img {
        outline: 1px solid $b_white;
    }
}

article {
    width: $width_article;
    max-width: $width_article;
    background: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);

    .info_post {
        width: 100%;
        padding: 0;
        padding-top: 15px;
    }

    padding: $unit;
    padding-bottom: 0;

    &::after {
        content: '';
        display: table;
        clear: both;
    }

    @include media-query($on-laptop) {
        width: 100%;
        max-width: none;
        padding: 0;
        padding-top: 1px;

        .article>header,
        .social-media-list {
            margin: $unit;
        }
    }
}